<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Angular Grocer</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

  </head>
  <body class="container" ng-controller="MainController as main">

    <h1>
      {{ main.appName }}
    </h1>

    <ul ng-repeat="mes in main.message">
      <li>
        {{ mes }}
      </li>
    </ul>

    <input ng-model="main.user.name" placeholder="name" class="form-control" />
    <input ng-model="main.user.email" placeholder="email" class="form-control" />
    <input ng-model="main.user.password" placeholder="password" class="form-control" />
    <button ng-show="!main.token" ng-click="main.signup()" class="btn btn-primary">Click here to sign up</button>
    <button ng-show="!main.token" ng-click="main.login()" class="btn btn-primary">Click here to log in</button>
    <button ng-hide="!main.token" ng-click="main.logout()" class="btn btn-primary">Click here to log out</button>



    <button ng-click="main.getProducts()" class="btn btn-primary">Click here retrieve product array</button>

    <ul ng-repeat="item in main.products">
      <li>
        {{ item.name }}
      </li>
    </ul>

    <script src="bower_components/angular/angular.js"></script>
    <script src="app.js"></script>
    <script src="MainController.js"></script>
  </body>
</html>
