<div ng-show="prod.isAuthed()" class="panel panel-default">
  <div class="panel-heading">
    <h5>You have purchased the following products</h5>
  </div>
  <div class="panel-body">
    <div class="panel-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>
              <a class="fake-link" ng-click="prod.sortColumn = 'name'; prod.sortReverse = !prod.sortReverse">
                Name
                <span ng-show="prod.sortColumn == 'name' && !prod.sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="prod.sortColumn == 'name' && prod.sortReverse" class="fa fa-caret-up"></span>
              </a>
            </th>
            <th>
              <a class="fake-link" ng-click="prod.sortColumn = 'total_purchased'; prod.sortReverse = !prod.sortReverse">
                Total Purchased
                <span ng-show="prod.sortColumn == 'total_purchased' && !prod.sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="prod.sortColumn == 'total_purchased' && prod.sortReverse" class="fa fa-caret-up"></span>
              </a>
            </th>
            <th>
              <a class="fake-link" ng-click="prod.sortColumn = 'highest_price'; prod.sortReverse = !prod.sortReverse">
                Highest Price
                <span ng-show="prod.sortColumn == 'highest_price' && !prod.sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="prod.sortColumn == 'highest_price' && prod.sortReverse" class="fa fa-caret-up"></span>
              </a>
            </th>
            <th>
              <a class="fake-link" ng-click="prod.sortColumn = 'lowest_price'; prod.sortReverse = !prod.sortReverse">
                Lowest Price
                <span ng-show="prod.sortColumn == 'lowest_price' && !prod.sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="prod.sortColumn == 'lowest_price' && prod.sortReverse" class="fa fa-caret-up"></span>
              </a>
            </th>
            <th>
              <a class="fake-link" ng-click="prod.sortColumn = 'most_recently_purchased'; prod.sortReverse = !prod.sortReverse">
                Most Recently Purchased
                <span ng-show="prod.sortColumn == 'most_recently_purchased' && !prod.sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="prod.sortColumn == 'most_recently_purchased' && prod.sortReverse" class="fa fa-caret-up"></span>
              </a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr dir-paginate="product in prod.products | orderBy:prod.sortColumn:prod.sortReverse | itemsPerPage: 10" {{ item }}>
          <td>
            <a ui-sref="home.product({id: product.id})">
              {{ product.name }}
            </a>
          </td>
          <td>
            {{ product.total_purchased }}
          </td>
          <td>
            {{ product.highest_price / 100 | currency}}
          </td>
          <td>
            {{ product.lowest_price / 100 | currency}}
          </td>
          <td>
            {{ product.most_recently_purchased | date:'short'}}
          </td>
        </tr>
        </tbody>
      </table>
      <div class="text-center">
        <dir-pagination-controls></dir-pagination-controls>
      </div>

    </div>
  </div>
</div>

<h5 ng-show="!prod.isAuthed()">You need to be logged in to see this page</h5>
