<ul ng-repeat="mes in session.message">
  <li>
    {{ mes }}
  </li>
</ul>
<input ng-model="session.user.name" placeholder="name" class="form-control" />
<input ng-model="session.user.email" placeholder="email" class="form-control"/>
<input ng-model="session.user.password" placeholder="password" class="form-control"/>
<button ng-click="session.signup()" class="btn btn-primary btn-block">Click here to sign up</button>
<button ng-click="session.signin()" class="btn btn-success btn-block">Click here to log in</button>
